.elementor-widget-cards-сarousel {
  .swiper-container {
    margin-bottom: 30px;

    &.swiper-product {
      overflow: unset;
      clip-path: polygon(-2% -5%, 102% -5%, 102% 110%, -2% 105%);
    }

    @include breakpoint(md) {
      margin-bottom: 40px;
    }

    @include breakpoint(xl) {
      margin-bottom: 50px;
    }
  }
}
