.elementor-widget-resources {
  .row {
    .model-card-slide {
      &:last-child {
        .card {
          margin-bottom: 0;
        }
      }
    }
    .card {
      border: none;
      box-shadow: none;
      margin-bottom: 40px;

      @include breakpoint(md) {
        margin-bottom: 0;
      }

      &-body {
        text-align: center;
        padding: 18px 12px 0;
      }

      &-text {
        margin-bottom: 8px;
      }
    }
  }
}