.elementor-widget-section-model-cards {
    .container.swiper-wrap {
        width: 100%;
        max-width: 336px;
        @media screen and (min-width: 769px) {
            max-width: 564px;
        }
        @include breakpoint(lg) {
            max-width: 880px;
        }

        > .row {
            position: relative;
        }

        .swiper-button-prev, .swiper-button-next {
            top: 138px;
        }
    }
}